
</div>
<div class="page-heading no-bottom-margin">
  <div class="container">
    <h1><span class="glyphicon glyphicon-user"></span> Dashboard</h1>
    <h2>Welcome back</h2>
  </div>
</div>
<div id="dashboard-view" class="jumbotron no-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>View experiences</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>See how places are being reviewed and rated right now.</p>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Example experience
          </div>
          <div class="panel-body">
            <img class="full-size-image" src="/images/examples/repu-radarChartImg.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <%= link_to '<div class="btn btn-primary btn-lg pull-right">
          View all
        </div>'.html_safe, experiences_index_path %></li>
      </div>
    </div>
  </div>
</div>
<div id="ucl-widget" class="jumbotron no-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Places near UCL</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Check out some of the places being reviewed around UCL.</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-circle img-thumbnail" src="/images/thumbnails/ucl-thumb.png" width="100" height="100">
            <h3>UCL</h3>
            <a href="/place/show?place_id=ChIJeTUXaS8bdkgRPhPMrn_GCNA" class="btn btn-primary">View</a>
          </div>
          <div class="col-md-6 text-center">
            <img class="img-circle img-thumbnail" src="/images/thumbnails/prc-thumb.png" width="100" height="100">
            <h3>Print Room Café</h3>
            <a href="/place/show?place_id=ChIJH7WwFC8bdkgRM-bsYAti58k" class="btn btn-primary">View</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-circle img-thumbnail" src="/images/thumbnails/ulu-thumb.png" width="100" height="100">
            <h3>ULU</h3>
            <a href="/place/show?place_id=ChIJo_OLHzEbdkgRdTy3kwnN-tM" class="btn btn-primary">View</a>
          </div>
          <div class="col-md-6 text-center">
            <img class="img-circle img-thumbnail" src="/images/thumbnails/waterstones-thumb.png" width="100" height="100">
            <h3>Waterstones</h3>
            <a href="/place/show?place_id=ChIJ9xRLVi4bdkgRqwdAA5ENLms" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <%= link_to '<div class="btn btn-primary btn-lg pull-right">
          View all
        </div>'.html_safe, place_index_path %></li>
      </div>
    </div>
  </div>
</div>
<div id="yield-container-body" class="container">
<div class="row">
	<div class="col-md-4">
    <h2>Profile</h2>
    <hr>
    <div class="panel panel-default">
     <div class="panel-heading">
      <span class="glyphicon glyphicon-user"></span> Profile
     </div>   
     <div class="panel-body">
      <p><strong>Username: </strong><%= @user.username %></p>
      <p><strong>Email: </strong><%= @user.email %></p>
     </div>
     <div class="panel-footer">
       <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>
     </div>
    </div>
	</div>
	<div class="col-md-8">
		<% if @user.experiences.any? %>
      <h2>Experiences <span class="label label-default label-as-badge pull-right"><%= @user.experiences.count %></span></h2>
      <hr>
      <div class="experiences">
        <%= render @experiences %>
      </div>
      <%= will_paginate @experiences %>
    <% end %>
	</div>
</div>
<!-- <div class="container"> -->