</div>
<div class="page-heading no-bottom-margin">
  <div class="container">
  	<% if current_user.admin? %>
  		<h1><span class="glyphicon glyphicon-stats"></span> Enterprise</h1>
  	<% else %>
  		<h1>Only accessible to admin users.</h1>
  	<% end %>
    
  </div>
</div>
<% if current_user.admin? %>
<div id="enterprise-intro" class="jumbotron no-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Analytics Introduction</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>The enterprise section of Repusition provides access to the aggregate data shared by the community.</p>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-exclamation-sign"></span> Warning
          </div>
          <div class="panel-body">
            <p style="color: #333;">Rendering of the global data visualisations requires a lot of processing before client-side.</p>
            <p style="color: #333;">Please be patient after clicking render. In some circumstances, rendering can take approximately ~5 minutes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="enterprise-reputation-graph" class="jumbotron no-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Global Reputation Graph</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>This graph shows the composition of all the experiences and how the combined reputation of places is fluctuating.</p>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-stats"></span> Example rendering
          </div>
          <div class="panel-body">
            <img class="full-size-image" src="/images/examples/repu-enterpriseRepuGraph.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="enterprise-bubble-chart" class="jumbotron no-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Global Ontology Scatter</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>This graph shows how popular each of the criteria that respondents have selected to rate experiences on.</p>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-stats"></span> Example rendering
          </div>
          <div class="panel-body">
            <img class="full-size-image" src="/images/examples/repu-enterpriseOntologyScatterRes.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Live Analytics Platform</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-stats"></span> Reputation graph
				</div>
				<div class="panel-body">
					<div class="place-stacked-area-chart-improved"></div>
				</div>
				<div class="panel-footer">
					<div id="draw-reputation-graph" class="btn btn-primary">Render</div>
				</div>
				<style type="text/css">
					.axis path, .axis line {
					    fill: none;
					    stroke: #000;
					    shape-rendering: crispEdges;
					}
				</style>
				<script type="text/javascript">
					(function() {

						function drawReputationGraph() {
								// console.log("******");
								// console.log("******");
								// console.log("IMPROVED STACK CHART");
								// console.log("******");
								// console.log("******");
								// http://stackoverflow.com/questions/14713503/how-to-handle-layers-with-missing-data-points-in-d3-layout-stack

								// define global list of keys
								var keys = [];
								var keysCount = [];
								var sourceData = [];

								var firstExperience = true;

								// populate list of keys with experiences ontologies
								<% @experiences.each do |e| %>
									<% e.ontologies.each do |o| %>
									  <% unless o.value.nil? or o.name.nil? %>
									    var o_name = "<%= o.name %>";
									    // console.log('o_name ' + o_name);
									    var o_value = <%= o.value %>;
									    // console.log('o_value ' + o_value);
									    var o_updated_at = "<%= o.updated_at.strftime('%m/%d/%y %H:%M:%S') %>";
									    // console.log('o_updated_at ' + o_updated_at);
									    // push ontologies to list of keys
									    if ($.inArray(o_name, keys) == -1) {
									    	keys.push(o_name);
									    }

									    // push experience ontology to source data
									    sourceData.push({
									    	key: o_name,
									    	value: o_value, 
									    	date: o_updated_at
									    });
									  <% end %>
									<% end %>
								<% end %>

								// console.log("improved key data");
								// console.log(keys);

								// console.log("improved source data");
								// console.log(sourceData);

								function assignPrevValues( dataset ) {

									// console.log("**** Asssign Prev Values function");

									var sortByDate = function(a,b) { return a.date > b.date ? 1 : -1; };
									var fringeData = [];
									var matrixData = [];

									// console.log("declare fringe data");
									// console.log(fringeData);

									// experience length
									// console.log("dataset length: " + dataset.length);
									// console.log("keys: " + keys.length);
									
									// sort data
									dataset.sort(sortByDate);

									//initialise fringe data
									for (var i = 0; i < keys.length; i++) {
										fringeData.push({ key: keys[i], value: 0, count: 0});
									}

									// console.log("fringeData init");
									for (var i = 0; i < fringeData.length; i++) {
										// console.log("key" + fringeData[i].key);
										// console.log("value" + fringeData[i].value);
										// console.log("count" + fringeData[i].count);
									}

									// loop through each experience
									for(var i = 0; i < dataset.length; i++) {
										// console.log("### DATASET :" + i + "date: " + dataset[i].date);
										// console.log("## DATASET key :" + dataset[i].key);
										// select date
										// loop through each keys
										for (var j = 0; j < keys.length; j++) {
											// console.log("keys :" + keys[j]);

											// initialise weight calculators for each key
											var nonZeroOntologyCount = 0;
											var nonZeroOntologyCountSize = 0;
											var matrixKeyWeight = 0;

											// ***
											// key exists for date
											if (dataset[i].key == keys[j]) {
												// update values from existing fringe data
												// console.log("**found key" + keys[j]);
												var currentKeyCount = 0;

												for(var k = 0; k < fringeData.length; k++) {
													// update fringeData with dataset value
													if (fringeData[k].key == keys[j]) {
														// console.log("update fringe data with dataset value: " + dataset[i].value);
														fringeData[k].value = dataset[i].value;
													}
													// increment NZOC
													// incremenet fringeData count
													// incremenet NZOCS
													if(fringeData[k].value > 0) {
														nonZeroOntologyCount++;
														fringeData[k].count++;
														for (var l = 0; l < fringeData[k].count; l++) {
															nonZeroOntologyCountSize++;
															
														}
														console.log(nonZeroOntologyCountSize + " (NZOCS)");

													}

													// console.log("fringeData match key");
													for (var l = 0; l < fringeData.length; l++) {
														// console.log("f:key" + fringeData[l].key);
														// console.log("f:value" + fringeData[l].value);
														// console.log("f:count" + fringeData[l].count);
													};
												}

												for(var k = 0; k < fringeData.length; k++) {
													if (fringeData[k].key == keys[j]) {
														currentKeyCount = fringeData[k].count;
													}
												}
												
												matrixKeyWeight = currentKeyCount/nonZeroOntologyCountSize;

												// console.log(currentKeyCount + "(currentKeyCount)" + "/" + nonZeroOntologyCountSize + "(NZOCS)");

												// console.log("update matrix data");
												// console.log(matrixKeyWeight);
												// push to matrix
												matrixData.push({ key: keys[j], value: dataset[i].value, date: dataset[i].date, weight: matrixKeyWeight});

											}

											// ***
											// key does not exist for date
											else if (dataset[i].key != keys[j]) {
												// update values from existing fringe data
												// console.log("**missing key" + keys[j]);
												// fringe loop
												for(var k = 0; k < fringeData.length; k++) {
													if(fringeData[k].key == keys[j]) {
														// calculate nzoc and nzocs
														// console.log("keys[j] fringeData[k].value");
														// console.log(keys[j] + fringeData[k].value);

														// increment NZOC
														if(fringeData[k].value > 0) {
															nonZeroOntologyCount++;
														}
														// console.log("NZOC" + nonZeroOntologyCount);
														
													}

													// increment NZOCS
														for (var l = 0; l < fringeData[k].count; l++) {
															nonZeroOntologyCountSize++;
														}
														// console.log("NZOCS" + nonZeroOntologyCountSize);

														


														// console.log("fringeData missing key");
														for (var l = 0; l< fringeData.length; l++) {
															// console.log("f:key" + fringeData[l].key);
															// console.log("f:value" + fringeData[l].value);
															// console.log("f:count" + fringeData[l].count);
														};
												}
												for(var k = 0; k < fringeData.length; k++) {
													if (fringeData[k].key == keys[j]) {
														// do stuff here

														// console.log("weight for " + fringeData[k].key + " : " + fringeData[k].count + " / " + nonZeroOntologyCountSize);

														if (fringeData[k].count == 0) {
															matrixKeyWeight = 0;
														} else {
															matrixKeyWeight = fringeData[k].count/nonZeroOntologyCountSize;	
														}

														// push this value to matrix
														// console.log("update matrix data");
														// console.log(matrixKeyWeight);
														matrixData.push({ key: keys[j], value: fringeData[k].value, date: dataset[i].date, weight: matrixKeyWeight}); 
													};
												}
											}

											// console.log("debug NZOC and NZOCS after loop");
											// console.log("key: " + keys[j]);
											// console.log("NZOC: " + nonZeroOntologyCount);
											// console.log("NZOCS: " + nonZeroOntologyCountSize);

											
										}
									}

								  // debug matrix data
								  // console.log("matrix data");
									// console.log(matrixData);					   

									// console.log("dataset review");
									// console.log(matrixData.sort(sortByDate));
							    return matrixData.sort(sortByDate);
								}

								var format = d3.time.format("%m/%d/%y %H:%M:%S");

								var containerDimension = $(".place-stacked-area-chart-improved").width();

								var margin = {top: 20, right: 30, bottom: 30, left: 40},
								width = containerDimension - margin.left - margin.right;
								height = containerDimension/2 - margin.top - margin.bottom;

								var x = d3.time.scale()
									.range([0, width]);

								var y = d3.scale.linear()
									.range([height, 0]);

								var z = d3.scale.category20c();

								var xAxis = d3.svg.axis()
								    .scale(x)
								    .orient("bottom")
								    .ticks(d3.time.days);

								var yAxis = d3.svg.axis()
								    .scale(y)
								    .orient("left");

								var stack = d3.layout.stack()
									.offset("zero")
									.values( function(d) { return d.values; })
									.x(function(d) { return d.date; })
									// multiply by weight
									.y(function(d) { return d.value*d.weight; });
									// .y(function(d) { return d.value; });

								var nest = d3.nest()
									.key(function(d) { return d.key; });

								var area = d3.svg.area()
									.interpolate("basis")
									.x(function(d) { return x(d.date); })
									.y0(function(d) { return y(d.y0); })
									.y1(function(d) { return y(d.y0 + d.y); });

								var svg = d3.select(".place-stacked-area-chart-improved").append("svg")
									.attr("width", containerDimension)
									.attr("height", containerDimension/2)
									.append("g")
									.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

								sourceData.forEach(function(d) {
								    d.date = format.parse(d.date);
								    d.value = +d.value;
								  });

							  var data = assignPrevValues(sourceData);
							  
							  var layers = stack(nest.entries(data));

							    
							  x.domain(d3.extent(data, function(d) { return d.date; }));
							  y.domain([0, 100]);
							  // y.domain([0, d3.max(data, function(d) { return d.y0 + d.y; })]);

							  svg.selectAll(".layer")
							      .data(layers)
							    .enter().append("path")
							      .attr("class", "layer")
							      .attr("d", function(d) { return area(d.values); })
							      .style("fill", function(d, i) { return z(d.key); })
							      .attr("id", function(d) {
							      	return d.key.replace(/\s+/g, '-').toLowerCase(); 
							      })
							      .attr("data-color", function(d) { return z(d.key); });

							  svg.append("g")
							      .attr("class", "x axis")
							      .attr("transform", "translate(0," + height + ")")
							      .call(xAxis);

							  svg.append("g")
							      .attr("class", "y axis")
							      .call(yAxis);

							  // console.log("******");
								// console.log("******");
								// console.log("// END IMPROVED STACK CHART");
								// console.log("******");
								// console.log("******");
								$("#draw-reputation-graph").css('display', 'none');
						}
						
						$("#draw-reputation-graph").on('click', drawReputationGraph);

					})();
				</script>
			</div>
		</div>			
		<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">

						<span class="glyphicon glyphicon-tasks"></span> Ontology scatter
					</div>
					<div class="panel-body">
						<div class="place-bubble-chart"></div>		
					</div>
					<div class="panel-footer">
						<div id="draw-bubble-chart" class="btn btn-primary">Render</div>

					</div>
				</div>
				<script type="text/javascript">
					
					(function() {

						function drawBubbleChart() {
											// initialise data structure
											var data = {"place_ontologies_vol": {}};

											// console.log("initialised data array: ", data.place_ontologies_vol);

											// generate data for chart from ruby instance variable
											var drawFlag = false;

											<% @experiences.each do |e| %>
												<% e.ontologies.each do |o| %>
												  <% unless o.value.nil? or o.name.nil? %>
												    var o_name = "<%= o.name %>";
												    // console.log('o_name ' + o_name);
												    var o_value = <%= o.value %>;
												    console.log('o_value ' + o_value);
												    console.log("not nil");
												    // check if ontology already in structure
												    if(o_name in data.place_ontologies_vol) {
												    	//iterate
												    	data.place_ontologies_vol[o_name]++;
												    }
												    else {
												    	// initialise to size 1
												    	data.place_ontologies_vol[o_name] = 1;
												    }
												    // console.log("updated data array: ", data.place_ontologies_vol); 
												    drawFlag = true;
												  <% end %>
												<% end %>
											<% end %>

											if(drawFlag) {
												var color = d3.scale.category20c();
												var diameter = $(".place-bubble-chart").width();

												var svg = d3.select(".place-bubble-chart").append("svg")
													.attr("width", diameter)
													.attr("height", diameter/2);

												var bubble = d3.layout.pack()
													.size([diameter, diameter/2])
													.value(function(d) { return d.size; })
													.padding(3);

												var nodes = bubble.nodes(processData(data))
													.filter(function(d) { return !d.children; });

												var vis = svg.selectAll('circle')
													.data(nodes, function(d) { return d.name; });

												vis.enter().append('circle')
													.attr('transform', function(d) {
														return "translate(" + d.x + "," + d.y + ")"; })
													.attr('r', function(d) { return d.r; })
													.attr("class", function(d) { return d.className.replace(/\s+/g, '-').toLowerCase(); })
													.style("fill", function(d) { 
														var currItem = $(".place-stacked-area-chart-improved #"+d.name.replace(/\s+/g, '-').toLowerCase()+".layer");
														console.log(currItem.attr("data-color"));
														// console.log(currItemClass);
														return currItem.attr("data-color"); 
													});
													
												vis.enter().append("text")
													.attr('transform', function(d) {
														return "translate(" + d.x + "," + d.y + ")"; })
													.attr('text-anchor', "middle")
													.attr('fill', 'white')
													.text(function(d) { return d.name; });

												function processData(data) {
												   var obj = data.place_ontologies_vol;

												   var newDataSet = [];

												   for(var prop in obj) {
												      newDataSet.push({name: prop,
												         className: prop.toLowerCase(), size: obj[prop]});
												   }
												   return {children: newDataSet};
												}

												function getRandomColor() {
							            var letters = '0123456789ABCDEF'.split('');
							            var color = '#';
							            for (var i = 0; i < 6; i++ ) {
							                color += letters[Math.floor(Math.random() * 16)];
							            }
							            return color;
								        }
								      }

								      $("#draw-bubble-chart").css('display', 'none');
						}

						$("#draw-bubble-chart").on('click', drawBubbleChart);

				  })();

				</script>
			</div>	
		</div>

	</div>
</div>
<% end %>
<div class="container">
