</div>
<div class="page-heading no-bottom-margin"></div>
<div id="yield-container-body" class="container"></div>
<% unless user_signed_in? %>
	<div class="jumbotron home-jumbotron no-bottom-margin">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="home-logo-container">
						<img class="home-logo" src="/images/repusition-logo.png">
					</div>
				</div>
					<div class="col-md-6">
						<h1>Repusition</h1>
						<h2>Crowdsourced criteria</h2>
						<div class="home-page-buttons">
							<hr>
							<%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
						<%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-success" %>
						</div>
					</div>
			</div>
		</div>
	</div>
<% end %>
<div id="home-about" class="jumbotron no-bottom-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>What is Repusition?</h2>
				<hr>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-6">
				<p>The reputation of a place is influenced by the experiences of customers.</p>
			</div>
			<div class="col-md-6">
				<p>Repusition allows users to rate places using any criteria they should choose.</p>
			</div>
		</div>
	</div>
</div>
<div id="home-features" class="jumbotron no-bottom-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Features</h2>
				<hr>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<h1><i class="glyphicon glyphicon-search"></i></h1>
				<h3>Find places</h3>
			</div>
			<div class="col-md-4">
				<h1><i class="glyphicon glyphicon-stats"></i></h1>
				<h3>Check reputation</h3>
			</div>
			<div class="col-md-4">
				<h1><i class="glyphicon glyphicon-comment"></i></h1>
				<h3>Share experiences</h3>
			</div>
		</div>
	</div>
</div>
<div id="home-rating" class="jumbotron no-bottom-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Rating System</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-equalizer"></span> Radar ratings
					</div>
					<div class="panel-body">
						<img src="/images/examples/repu-radarChartImg.png">
						
					</div>
					<div class="panel-footer"></div>
				</div>
				<h3>Radar ratings</h3>
				<p>Create a picture of each experience</p>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-stats"></span> Reputation graph
					</div>
					<div class="panel-body">
						<img src="/images/examples/repu-repuGraph.png">
						
					</div>
					<div class="panel-footer"></div>
				</div>
				<h3>Reputation graph</h3>
				<p>Reviews are combined to track reputation</p>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-tasks"></span> Ontology scatter
					</div>
					<div class="panel-body">
						<img src="/images/examples/repu-bubbleChart.png">
						
					</div>
					<div class="panel-footer"></div>
				</div>
				<h3>Ontology scatter</h3>
				<p>Measure the influence of each criteria</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<%= link_to '<div class="btn btn-primary btn-lg pull-right">
					Learn more
				</div>'.html_safe, experiences_index_path %></li>
			</div>
		</div>
	</div>
</div>
<div id="home-recent" class="jumbotron no-bottom-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Recent experiences</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p>See how places are being reviewed and rated right now.</p>
				<p>An experience is displayed visually as a radar chart diagram.</p>
				<p>Each axis represents the performance of an individual criteria.</p>
			</div>
			<div class="col-md-8">
				<% if @experience1 %>
					<%= render @experience1 %>
				<% end %>
				<% if @experience2 %>
					<%= render @experience2 %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<%= link_to '<div class="btn btn-primary btn-lg pull-right">
					View all
				</div>'.html_safe, experiences_index_path %></li>
			</div>
		</div>
	</div>
</div>
<div id="home-search" class="jumbotron no-bottom-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Try a search</h2>
				<hr>
				<p>Examples: 'pizza', 'pret a manger', 'prezzo', 'starbucks'</p>
				<div class="col-md-11">
					<input id="homeSearchTextField" type="text" class="form-control" placeholder="Search" name="q">
				</div>
				<div class="col-md-1">
					<p><span class="glyphicon glyphicon-search"></span></p>
				</div>
				
				<p>UK user? Add 'London, GB' to search for closer results.</p>
				<script type="text/javascript">
				  $(function() {
				    function initialize() {
				      var input = document.getElementById('homeSearchTextField');

				      var searchBox = new google.maps.places.SearchBox(input);

				      // add listener to see which item is selected from the search bar
				      google.maps.event.addListener(searchBox, 'places_changed', function() {
				        var searchString = $("#homeSearchTextField").val();
				        var places = searchBox.getPlaces();
				        
				        console.log("Number of places found: ", places.length);
				        console.log("place_id: ");
				        console.log(places[0].place_id);
				        console.log(places[0].name);

				        // if (places.length == 0) {
				        //   return;
				        // }

				        function windowLocationReplace(place_id) {
				          location.href = "/place/show"+"?place_id="+place_id; 
				        }

				        if (places.length == 1) {
				          windowLocationReplace(places[0].place_id); 
				        }
				        
				        

				        if (places.length > 1) {
				        	setTimeout(function() {
				          	$(document.body).scrollTop(0);
				          }, 100);
				          $(".page-heading").empty();
				          $(".page-heading").html("<div class='page-heading'><div class='container'><h1><span class='glyphicon glyphicon-search'></span> Search</h1><h2>Showing results for '"+searchString+"'</h2></div></div>");
				          $("#yield-container").empty();
				          $("#yield-container-body").empty();
				          $("#yield-container-body").append("<table id='search-results-table' class='table table-hover'><thead><tr><th>Place name</th><th>Address</th><th>View</th></tr></thead><tbody></table>");
				          for (i = 0; i < places.length; i++) {
				            $('#search-results-table > tbody:last').append("<tr>"
				              +"<td>"+places[i].name+"</td>"
				              +"<td>"+places[i].formatted_address
				              +"</td>"+"<td><input type='button' class='btn btn-primary' onclick='location.href=" + "&#34;"
				              +"/place/show"+"?place_id="+places[i].place_id+"&#34;' value='View'></td></tr>");


				          }
				          
				        }



				      });
				    }
				    // google.maps.event.addDomListener(window, 'load', initialize);
				    initialize();
				  });
				</script>

			</div>
		</div>
	</div>
</div>
<div>
