</div>
<div class="form-wrapper">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Log in
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :login, "Login (Username or Email)" %><br />
            <%= f.text_field :login %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class => "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
<div class="container">