/*
 * Universal styling
 */

body {
	padding-top: 50px;
}

/*
 * Navbar styling
 */

.navbar-default {
 background-color: #19b5fe;
 border-color: #1090cc;
}
.navbar-default .navbar-brand {
 color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 color: #ffffff;
}
.navbar-default .navbar-text {
 color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
 color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: #ffffff;
 background-color: #1090cc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 color: #ffffff;
 background-color: #1090cc;
}
.navbar-default .navbar-toggle {
 border-color: #1090cc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: #1090cc;
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
 border-color: #ecf0f1;
}
.navbar-default .navbar-link {
 color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
 color: #ffffff;
}

@media (max-width: 767px) {
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #ecf0f1;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   color: #ffffff;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #ffffff;
   background-color: #1090cc;
 }
}

.nav-search-icon {
  padding-left: 10px;
}

.alert {
	margin-top: 15px;
}