<div class="experience-wrapper col-md-6">
  <div id="experience-<%= experience.id %>" class="panel panel-default">  
    <div class="panel-heading">
      <%if defined? experience.place.place_id %>
        <span class="glyphicon glyphicon-map-marker"></span> <span class="place-id"><%= link_to experience.place.place_name, "/place/show?place_id=#{experience.place.place_id}" %></span>
      <% end %>  
    </div>
    <div class="panel-body">
      <div class="radar-chart">
        <!-- Insert d3 radar chart -->
        <div id="chart-container-<%= experience.id %>" class="chart-container"></div>
        <!-- radart chart config -->
        <script>
        RadarChart.defaultConfig.color = function() {};
        RadarChart.defaultConfig.radius = 5;
        RadarChart.defaultConfig.levels = 5;
        RadarChart.defaultConfig.maxValue = 100;
        RadarChart.defaultConfig.w = $(".chart-container").width();
        RadarChart.defaultConfig.h = $(".chart-container").width();
        RadarChart.defaultConfig.color = d3.scale.category10();
        </script>
        <!-- radar chart script -->
        <script type="text/javascript">

          var data = [
            {
              className: 'user-<%= experience.user.id %>', // optional can be used for styling
              axes: [
              ]
            }
          ];

          var drawFlag = false;

          <% experience.ontologies.each do |o| %>
            <% unless o.value.nil? or o.name.nil? %>
              var o_name = "<%= o.name %>";
              var o_value = <%= o.value %>;
              var axis = {axis: o_name, value: o_value};
              data[0].axes.push(axis);  
              drawFlag = true;
            <% end %>
          <% end %>

          if(drawFlag) {
            var chart = RadarChart.chart();
            var cfg = chart.config();
            var svg = d3.select('#chart-container-<%= experience.id %>').append('svg')
              .attr('width', cfg.w)
              .attr('height', cfg.h);
            svg.append('g').classed('single', 1).datum(data).call(chart);

            svg.append('circle')
              .attr('class', 'radar-origin')
              .attr('cx', cfg.w/2)
              .attr('cy', cfg.h/2)
              .attr('r', 10)
              .attr('fill', 'red');
          }
          
          function getRandomColor() {
              var letters = '0123456789ABCDEF'.split('');
              var color = '#';
              for (var i = 0; i < 6; i++ ) {
                  color += letters[Math.floor(Math.random() * 16)];
              }
              return color;
          }

          $(".area.user-<%= experience.user.id %>, user-<%= experience.user.id %> .circle").css('fill', getRandomColor());

        </script>
      </div>
      <div class="content"><%= experience.content %></div>
    </div>
    <div class="panel-footer">
      <div>
        <span class="glyphicon glyphicon-user"></span><span class="user"> <%= link_to experience.user.username, "/user/show?user_id=#{experience.user.id}" %></span><br>
        <span class="glyphicon glyphicon-time"></span><span class="timestamp">
           Posted <%= time_ago_in_words(experience.created_at) %> ago
        </span>
      </div>
      
      <% if user_signed_in? %>
        <% if current_user.id == experience.user.id %>
          <hr>
          <%= link_to "Delete", experience, method: :delete,
              data: { confirm: "You sure?" }, :class => "btn btn-danger" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
