</div>
<div class="page-heading">
  <div class="container">
		<h1><span class="glyphicon glyphicon-comment"></span> Experiences<span class="label label-default label-as-badge pull-right"><%= @experiences.count %></span></h1>
  </div>
</div>
<div id="yield-container-body" class="container">
<div class="experiences">
	<%= render @experiences %> 
</div>
