<% if @user %>
	<h1><%= @user.username %></h1>
<% else %>
	<h1>User not found</h1>
<% end %>
<hr>
<% if @experiences %>
  <h2>Experiences <span class="label label-default label-as-badge pull-right"><%= @experiences.count %></span></h2>
  <hr>
  <div class="experiences">
    <%= render @experiences %>
  </div>
  <%= will_paginate @experiences %>
<% end %>