
<script>
$(function() {
  var place_id = '<%= @place_id %>';

  function initialize() {
    var request = {
      placeId: ''
    };
    request["placeId"] = place_id;

    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      // center: new google.maps.LatLng(-33.8665433, 151.1956316),
      zoom: 15,
      draggable: false,
      scrollwheel: false,
      panControl: false
    });

    var infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);

    service.getDetails(request, function(place, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        map.setCenter(marker.getPosition());

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
        // add details to html elements
        $("#place-details-name").append(place.name);
        $("#place-details-address").append(place.formatted_address);

        // add details to add place form
        $("#place_place_name").val(place.name);
        $("#place_place_address").val(place.formatted_address);

        // add name to page heading
        $(".page-heading h1").append(place.name);

      }
    });
  }

  initialize();
});
</script>
<div class="col-md-12">
  <h2>Details</h2>
  <hr>
</div>
<div class="row">
  <div class="col-md-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-info-sign"></span> About
      </div>
      <div class="panel-body">
        <p id="place-details-name"></p>
        <p id="place-details-address"></p>
      </div>  
    </div>
    
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-map-marker"></span> Map
      </div>
      <div class="panel-body">
        <div class="map-canvas-container">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
    
  </div>
    
</div>

