</div>
<div class="page-heading">
  <div class="container">
		<h1><span class="glyphicon glyphicon-map-marker"></span> Places <span class="label label-default label-as-badge pull-right"><%= @places.count %></span></h1>
  </div>
</div>
<div id="yield-container-body" class="container">
<div class="row">
	<div class="col-md-12">
		<% @places.each do |place| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-map-marker"></span> <%= link_to place.place_name, "/place/show?place_id=#{place.place_id}" %>
				</div>
				<div class="panel-body">
				  <%= place.place_address %><br>
				</div>
				<div class="panel-footer">
					<span><span class="glyphicon glyphicon-comment"></span> Experiences <span class="badge pull-right"><%= place.experiences.count %></span></span>
				</div>
			</div>
		  
		<% end %>
	</div>
</div>
