</div>
<div class="page-heading">
	<div class="container">
		<% if @place %>
			<h1><span class="glyphicon glyphicon-map-marker"></span> </h1>
		<% else %>
			<h1><span class="glyphicon glyphicon-map-marker"></span> </h1>
		<% end %>
	</div>
</div>
<div id="yield-container-body" class="container">
<%= render 'place_details' %>
<% if @experiences %>
	<div class="row">
		<h2>Reputation</h2>
		<hr>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-stats"></span> Reputation graph
				</div>
				<div class="panel-body">
					<div class="place-stacked-area-chart-improved"></div>
				</div>
			</div>
			<style type="text/css">
				.axis path, .axis line {
				    fill: none;
				    stroke: #000;
				    shape-rendering: crispEdges;
				}
			</style>
			
			<!-- Improved stacked area chart -->
			<script type="text/javascript">
				(function() {

					// define global list of keys
					var keys = [];
					var keysCount = [];
					var sourceData = [];

					var firstExperience = true;

					// populate list of keys with experiences ontologies
					<% @experiences.each do |e| %>
						<% e.ontologies.each do |o| %>
						  <% unless o.value.nil? or o.name.nil? %>
						    var o_name = "<%= o.name %>";
						    var o_value = <%= o.value %>;
						    var o_updated_at = "<%= o.updated_at.strftime('%m/%d/%y %H:%M:%S') %>";

						    // push ontologies to list of keys
						    if ($.inArray(o_name, keys) == -1) {
						    	keys.push(o_name);
						    }

						    // push experience ontology to source data
						    sourceData.push({
						    	key: o_name, value: o_value, date: o_updated_at
						    });
						  <% end %>
						<% end %>
					<% end %>

					function assignPrevValues( dataset ) {

						var sortByDate = function(a,b) { return a.date > b.date ? 1 : -1; };
						var fringeData = [];
						var matrixData = [];

						// sort data
						dataset.sort(sortByDate);

						//initialise fringe data
						for (var i = 0; i < keys.length; i++) {
							fringeData.push({ key: keys[i], value: 0, count: 0});
						}

						for(var i = 0; i < dataset.length; i++) {
							for (var j = 0; j < keys.length; j++) {

								// initialise weight calculators for each key
								var nonZeroOntologyCount = 0;
								var nonZeroOntologyCountSize = 0;
								var matrixKeyWeight = 0;

								// key exists for current review
								if (dataset[i].key == keys[j]) {
									var currentKeyCount = 0;

									for(var k = 0; k < fringeData.length; k++) {
										// update fringeData with dataset value
										if (fringeData[k].key == keys[j]) {
											fringeData[k].value = dataset[i].value;
										}

										if(fringeData[k].value > 0) {
											nonZeroOntologyCount++;
											fringeData[k].count++;
											for (var l = 0; l < fringeData[k].count; l++) {
												nonZeroOntologyCountSize++;	
											}
										}
									}

									for(var k = 0; k < fringeData.length; k++) {
										if (fringeData[k].key == keys[j]) {
											currentKeyCount = fringeData[k].count;
										}
									}
									
									// calculate weight and push to matrix
									matrixKeyWeight = currentKeyCount/nonZeroOntologyCountSize;
									matrixData.push({ key: keys[j], value: dataset[i].value, date: dataset[i].date, weight: matrixKeyWeight});
								}

								// key does not exist for current review
								else if (dataset[i].key != keys[j]) {
									for(var k = 0; k < fringeData.length; k++) {
										if(fringeData[k].key == keys[j]) {
											// increment NZOC
											if(fringeData[k].value > 0) {
												nonZeroOntologyCount++;
											}
										}

										// increment NZOCS
										for (var l = 0; l < fringeData[k].count; l++) {
											nonZeroOntologyCountSize++;
										}
									}

									for(var k = 0; k < fringeData.length; k++) {
										if (fringeData[k].key == keys[j]) {
											if (fringeData[k].count == 0) {
												matrixKeyWeight = 0;
											} 
											else {
												matrixKeyWeight = fringeData[k].count/nonZeroOntologyCountSize;	
											}

											// push value to matrixData
											matrixData.push({ key: keys[j], value: fringeData[k].value, date: dataset[i].date, weight: matrixKeyWeight}); 
										};
									}
								}
							}
						}
				    return matrixData.sort(sortByDate);
					}

					var format = d3.time.format("%m/%d/%y %H:%M:%S");

					var containerDimension = $(".place-stacked-area-chart-improved").width();

					var margin = {top: 20, right: 30, bottom: 30, left: 40},
					width = containerDimension - margin.left - margin.right;
					height = containerDimension/2 - margin.top - margin.bottom;

					var x = d3.time.scale()
						.range([0, width]);

					var y = d3.scale.linear()
						.range([height, 0]);

					var z = d3.scale.category20c();

					var xAxis = d3.svg.axis()
					    .scale(x)
					    .orient("bottom")
					    .ticks(d3.time.days);

					var yAxis = d3.svg.axis()
					    .scale(y)
					    .orient("left");

					var stack = d3.layout.stack()
						.offset("zero")
						.values( function(d) { return d.values; })
						.x(function(d) { return d.date; })
						// multiply by weight
						.y(function(d) { return d.value*d.weight; });
						// .y(function(d) { return d.value; });

					var nest = d3.nest()
						.key(function(d) { return d.key; });

					var area = d3.svg.area()
						.interpolate("basis")
						.x(function(d) { return x(d.date); })
						.y0(function(d) { return y(d.y0); })
						.y1(function(d) { return y(d.y0 + d.y); });

					var svg = d3.select(".place-stacked-area-chart-improved").append("svg")
						.attr("width", containerDimension)
						.attr("height", containerDimension/2)
						.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

					sourceData.forEach(function(d) {
					    d.date = format.parse(d.date);
					    d.value = +d.value;
					  });

				  var data = assignPrevValues(sourceData);
				  
				  var layers = stack(nest.entries(data));

				    
				  x.domain(d3.extent(data, function(d) { return d.date; }));
				  y.domain([0, 100]);
				  // y.domain([0, d3.max(data, function(d) { return d.y0 + d.y; })]);

				  svg.selectAll(".layer")
				      .data(layers)
				    .enter().append("path")
				      .attr("class", "layer")
				      .attr("d", function(d) { return area(d.values); })
				      .style("fill", function(d, i) { return z(d.key); })
				      .attr("id", function(d) {
				      	return d.key.replace(/\s+/g, '-').toLowerCase(); 
				      })
				      .attr("data-color", function(d) { return z(d.key); });

				  svg.append("g")
				      .attr("class", "x axis")
				      .attr("transform", "translate(0," + height + ")")
				      .call(xAxis);

				  svg.append("g")
				      .attr("class", "y axis")
				      .call(yAxis);

				  // add axis labels to graphs

				  svg.append("text")
				      .attr("class", "x label")
				      .attr("text-anchor", "end")
				      .attr("x", width)
				      .attr("y", height - 6)
				      .text("Time");

				  svg.append("text")
				      .attr("class", "y label")
				      .attr("text-anchor", "end")
				      .attr("y", 6)
				      .attr("dy", ".75em")
				      .attr("transform", "rotate(-90)")
				      .text("Score");

				})();
			</script>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-tasks"></span> Ontology scatter
				</div>
				<div class="panel-body">
					<div class="place-bubble-chart"></div>		
				</div>
			</div>
			<script type="text/javascript">
				
				(function() {

					// initialise data structure
					var data = {"place_ontologies_vol": {}};

					console.log("initialised data array: ", data.place_ontologies_vol);

					// generate data for chart from ruby instance variable
					var drawFlag = false;

					<% @experiences.each do |e| %>
						<% e.ontologies.each do |o| %>
						  <% unless o.value.nil? or o.name.nil? %>
						    var o_name = "<%= o.name %>";
						    var o_value = <%= o.value %>;
						    // check if ontology already in structure
						    if(o_name in data.place_ontologies_vol) {
						    	//iterate
						    	data.place_ontologies_vol[o_name]++;
						    }
						    else {
						    	// initialise to size 1
						    	data.place_ontologies_vol[o_name] = 1;
						    }
						    console.log("updated data array: ", data.place_ontologies_vol); 
						    drawFlag = true;
						  <% end %>
						<% end %>
					<% end %>

					function processData(data) {
					   var obj = data.place_ontologies_vol;

					   var newDataSet = [];

					   for(var prop in obj) {
					      newDataSet.push({name: prop,
					         className: prop.toLowerCase(), size: obj[prop]});
					   }
					   return {children: newDataSet};
					}

					function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
	        }

					if(drawFlag) {
						var color = d3.scale.category20c();
						var diameter = $(".place-bubble-chart").width();

						var svg = d3.select(".place-bubble-chart").append("svg")
							.attr("width", diameter)
							.attr("height", diameter/2);

						var bubble = d3.layout.pack()
							.size([diameter, diameter/2])
							.value(function(d) { return d.size; })
							.padding(3);

						var nodes = bubble.nodes(processData(data))
							.filter(function(d) { return !d.children; });

						var vis = svg.selectAll('circle')
							.data(nodes, function(d) { return d.name; });

						vis.enter().append('circle')
							.attr('transform', function(d) {
								return "translate(" + d.x + "," + d.y + ")"; })
							.attr('r', function(d) { return d.r; })
							.attr("class", function(d) { return d.className.replace(/\s+/g, '-').toLowerCase(); })
							.style("fill", function(d) { 
								var currItem = $(".place-stacked-area-chart-improved #"+d.name.replace(/\s+/g, '-').toLowerCase()+".layer");
								// console.log(currItem.attr("data-color"));
								// console.log(currItemClass);
								return currItem.attr("data-color"); 
							});
							
						vis.enter().append("text")
							.attr('transform', function(d) {
								return "translate(" + d.x + "," + d.y + ")"; })
							.attr('text-anchor', "middle")
							.attr('fill', 'white')
							.text(function(d) { return d.name; });

						
		      }

			  })();

			</script>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Share an experience</h2>
			<hr>
			<%= render 'layouts/experience_form' %>
		</div>
		<div class="col-md-6">
			<h2>Experiences <span class="label label-default label-as-badge pull-right"><%= @experiences.count %></span></h2>
			<hr>
			<div class="experiences">
			  <%= render @experiences %>
			</div>
			<%= will_paginate @experiences %>
		</div>
	</div>
<% else %>
<h2>No experiences shared here yet!</h2>
<%= render 'layouts/place_form' %>
<% end %>
</div>
	