/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-slider
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* universal styles */

body {
  /*background-color: #333333;*/
  /*color: white!important;*/
	padding-top: 50px;
  color: #333333;
  background-color: #F5F5F5;
}

.glyphicon-white, .glyphicon-white a {
	color: white;
}

.experience-wrapper {
  color: #333!important;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
  margin-bottom: 15px;
}

.full-size-image {
  width: 100%;
  height: 100%;
}

.btn {
  margin-bottom: 10px;
}

/*
 * google api styles 
 */

.pac-container {
	z-index: 2000;
}

/* full screen map search styles */

.map-canvas-container {
  height: 400px;

}

.search-input-label {
	font-size: 20px;
	margin-top: 15px;
	margin-right: 10px;
}

#searchTextField {
	margin-top: 8px;
	margin-top: 8px;
	border-radius: 5px !important;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/*
 * experience and ontology styling
 */


.ontologies {
  color: green;
  font-weight: bold;
}

.label-as-badge {
    border-radius: 1em;
}

.slider.slider-horizontal {
  width: 100%!important;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

.navbar-brand {
  font-weight: bold;
}



.page-heading {
  background-color: #34495e;
  margin-bottom: 20px;
}

.page-heading h1 {
  font-size: 28px;
  margin: 0;
  color: #e9e9e9;
  padding: 40px 0;
  /*padding-top: 40px;*/
  overflow:hidden;
}

.page-heading h2 {
margin: 0;
padding: 40px 0;
padding-top: 0px;
  color:#dddddd;
}

.navbar-header {
  margin-left: 20px;
}

#bs-example-navbar-collapse-1 {
  margin-right: 20px;
}

.page-heading-flash {
  margin: 0;
  background-color: #34495e;
  margin-bottom: 0px;
}

.chart-container {
  margin: 30px;
}

/*
 * Home page styles
 */

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.home-jumbotron {
  background-color: #34495e;
  color: #fff;
}

.home-jumbotron .col-md-4 img {
  /*width: 100%;
  height: 100%;*/
}

.home-logo-container {
  text-align: center;
}

.home-logo {
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.home-page-buttons {
  margin: 30px 0;
}

/* jumbotron id styling */

.jumbotron {
  color: #fff;
}

#home-about {
  background-color: #3498db;
}

#home-features {
  background-color: #6BB9F0;
}

#home-rating {
  background-color: #22A7F0;
}

#home-rating .col-md-4 {
  text-align: center;
}

#home-rating .col-md-4 .panel-heading {
  text-align: left;
}

#home-rating .panel-body img {
  width: 100%;
  height: 100%;
}

#home-recent {
  background-color: #34495e;
  /*background-color: #c0392b;*/
}

#home-search {
  background-color: #3498db;
}

#dashboard-view {
  background-color: #3498db;
}

#enterprise-intro {
  background-color: #3498db;
}

#enterprise-reputation-graph {
  background-color: #6BB9F0;
}

#enterprise-bubble-chart {
  background-color: #22A7F0;
}

/*
 * Footer styles 
 */

footer {
  background-color: #333333;
  color: #cccccc;
}

footer .container {
  padding: 30px 0;
}

footer hr  {
  border-color: #444444;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

/*
 * Panel styles
 */

.panel-heading {
  font-weight: bold;
  font-size: 18px;
}

.form-wrapper .panel .btn {
  margin-top: 10px;
}

.panel-footer {
  text-align: left;
}

/*
 * Form styles
 */

.form-wrapper {
  padding: 30px 0;
}

/*
 * Widget styles
 */

#ucl-widget {
}

/*
 * Breakpoint queries
 */

@media (max-width: 992px) {
  .home-jumbotron {
    text-align: center;
  }

  .home-logo {
    width: 150px;
    height: 150px;
  }

  .jumbotron {
    text-align: center;
  }

  footer {
    text-align: center;
  }

}

@media (max-width: 500px) {

  .navbar-brand {
    display: none;
  }

  .navbar-header {
    margin-left: 0px!important;
  }

  .nav-search-icon {
    display: none;
  }
}