<% if user_signed_in? %>
	<%= nested_form_for @experience, html: { multipart: true } do |f| %>
		<%= f.hidden_field :place_id, value: @place.id %>
		
		<!-- fields for ontologies -->
		<div class="ontologies-wrapper">
			<div id="ontologies">
				<h3>Ontologies</h3>
				<hr>
				<script type="text/javascript">
					var slider_iterator = 0;
				</script>
				<%= f.fields_for :ontologies, Ontology.new do |o| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-equalizer"></span> Specify a criteria and select score
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6">
									<%= o.label :name %><br>
									<%= o.text_field :name %>
								</div>
								<div class="col-md-6">
									<%= o.label :value %>
									<div class="ontology-slider-labels">
										<span class="glyphicon glyphicon-chevron-down"></span> Min
									  <span class="pull-right"> Max</span> 
										<span class="glyphicon glyphicon-chevron-up pull-right"></span>
									</div>		
									<%= o.number_field :value, :class => "value_ontology_slider" %>
								</div>
							</div>
							<script type="text/javascript">
								$(function() {
									var ontologySlider = $(".value_ontology_slider").last().slider({min: 0, max: 100, value: 0});
									ontologySlider.slider('setValue', 0);
									console.log("OS get value: " + ontologySlider.slider('getValue'));
								});
								
							</script>
						</div>
						<div class="panel-footer">
							<%= o.link_to_remove "<span class='glyphicon glyphicon-minus'></span> Remove".html_safe, :class => "btn btn-warning" %>
						</div>
						
					</div>
				<% end %>
				
				<%= f.link_to_add "<div id='add-ontology-button' class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span> Add</div>".html_safe, :ontologies %>
				<br>
				
			</div>

		</div>
		<br>
		<h3>Comments</h3>
		<hr>
		<div class="form-group panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Leave comments</div>
			<div class="panel-body">
				<%= f.text_area :content, placeholder: "Share an experience..." %>
			</div>
		</div>
		<div class="form-group">
			<%= f.submit "Share", class: "btn btn-success" %>
		</div>
	<% end %>
<% else %>
	<p>Please <%= link_to "Log in", new_user_session_path %> to share an experience.</p>
<% end %>