<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="/images/logo-grey.png" width="100" height="100">
				<h4>Repusition</h4>
				<!-- col 3 -->
			</div>
			<div class="col-md-4">
				<!-- col 3 -->
				<h4>Navigation</h4>
				<ul>
					<li><%= link_to "Docs", 'docs' %></li>
				</ul>
			</div>
			<div class="col-md-4">
				<!-- col 3 -->
				<h4>Resources</h4>
				<ul>
					<li><%= link_to "Ruby on Rails", 'http://rubyonrails.org/' %></li>
					<li><%= link_to "Twitter Bootstrap", 'http://getbootstrap.com/' %></li>
					<li><%= link_to "Devise", 'https://github.com/plataformatec/devise' %></li>
					<li><%= link_to "D3.js", 'http://d3js.org/' %></li>
				</ul>
			</div>
		</div>
		<hr>
		<p>&copy; 2015 Repusition</p>
	</div>
</footer>