<nav class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <div class="navbar-left">
      <a href="<%= root_url %>" class="pull-left"><img src="/images/LOCATION.png" width="50" height="50"></a>
      <a href="<%= root_url %>" class="navbar-brand" style="padding-left: 0px;">Repusition</a>
      <%= render 'layouts/search' %>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '<span class="glyphicon glyphicon-comment"></span> Experiences'.html_safe, experiences_index_path %></li>
        <li><%= link_to '<span class="glyphicon glyphicon-map-marker"></span> Places'.html_safe, place_index_path %></li>
        <% if user_signed_in? and current_user.admin? %>
          <li><%= link_to "<span class='glyphicon glyphicon-stats'></span> Enterprise".html_safe, enterprise_index_path %></li> 
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "<span class='glyphicon glyphicon-user'></span> #{current_user.username}".html_safe, dashboard_index_path %></li> 
        <% end %>
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href=<%= dashboard_index_path %> class="dropdown-toggle" data-toggle="dropdown">Logout</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>                    
            </ul>
          <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>       
  </div>
</nav>