<!-- <form class="navbar-form" role="search"> -->
    <div class="input-group pull-left">
      <div class="pull-left">
        <input id="searchTextField" type="text" class="form-control" placeholder="Search" name="q">
      </div>
      <div class="pull-left nav-search-icon">
        <i class="glyphicon search-input-label glyphicon-search pull-left glyphicon-white"></i>
      </div>
    </div>
    <!-- <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div> -->
    <!-- </div> -->
<!-- </form> -->
<script type="text/javascript">
  $(function() {
    function initialize() {
      var input = document.getElementById('searchTextField');

      var searchBox = new google.maps.places.SearchBox(input);

      // add listener to see which item is selected from the search bar
      google.maps.event.addListener(searchBox, 'places_changed', function() {
        var searchString = $("#searchTextField").val();
        var places = searchBox.getPlaces();

        function windowLocationReplace(place_id) {
          location.href = "/place/show"+"?place_id="+place_id; 
        }

        if (places.length == 1) {
          windowLocationReplace(places[0].place_id); 
        }

        if (places.length > 1) {
          $(".page-heading").empty();
          $(".page-heading").html("<div class='page-heading'><div class='container'><h1><span class='glyphicon glyphicon-search'></span> Search</h1><h2>Showing results for '"+searchString+"'</h2></div></div>");
          $("#yield-container").empty();
          $("#yield-container-body").empty();
          $("#yield-container-body").append("<table id='search-results-table' class='table table-hover'><thead><tr><th>Place name</th><th>Address</th><th>View</th></tr></thead><tbody></table>");
          for (i = 0; i < places.length; i++) {
            $('#search-results-table > tbody:last').append("<tr>"
              +"<td>"+places[i].name+"</td>"
              +"<td>"+places[i].formatted_address
              +"</td>"+"<td><input type='button' class='btn btn-primary' onclick='location.href=" + "&#34;"
              +"/place/show"+"?place_id="+places[i].place_id+"&#34;' value='View'></td></tr>");
          }
          
        }

      });
    }
    // google.maps.event.addDomListener(window, 'load', initialize);
    initialize();
  });
  
</script>