<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>RepusitionApp</title>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "radar-chart" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUNEP2iRg-VhOKcBUsIeg68N-buzS17oU&libraries=places&region=GB"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="page-heading-flash no-bottom-margin">
		<div class="container">
			<%= flash_messages %>
		</div>
	</div>
	
	<div id="yield-container" class="container">
		<%= yield %>
	</div>
	
	<%= render 'layouts/footer' %>
	<!-- <div class="container"> -->
		<!-- <%= debug(params) %>-->
	<!-- </div> -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61610631-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
