</div>
<div class="form-wrapper">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Edit <%= resource_name.to_s.humanize %>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email%>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, "New Password" %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", :class => "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to "Back", :back %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Cancel my account
      </div>
      <div class="panel-body">
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %></p>
      </div>
      <div class="panel-footer">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
<div class="container">


