</div>
<div class="form-wrapper">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sign up
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", :class => "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <p>Already registered?</p>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
